<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Data Type</title>
</head>
<body>
    <h1>Select Data Type</h1>
    <ul>
        <li><a href="/select_column/numeric?filename={{ filename }}">Numeric</a></li>
        <li><a href="/select_column/categorical?filename={{ filename }}">Categorical</a></li>
        <li><a href="/select_column/datetime?filename={{ filename }}">Datetime</a></li>
    </ul>
</body>
</html>
