<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Görselleştirme Aracı - Veri Görselleştirme</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Görselleştirme Aracı</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Ana Sayfa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/visualize">Veri Görselleştirme</a>
    </li>
  </ul>
</nav>

<div class="container mt-4">
    <h2>CSV Dosyası Yükle</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" class="form-control-file" name="file" id="file">
        </div>
        <button type="submit" class="btn btn-primary">Dosya Yükle</button>
    </form>
</div>

</body>
</html>
